<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer41 here</title>
  <link href="{{ url_for('static', filename='components/footer41.css') }}" rel="stylesheet" />

</head>
<body>
  <footer41-wrapper class="footer41-wrapper">
    <!--Footer41 component-->
    <footer class="footer41-footer7 thq-section-padding">
      <div class="footer41-max-width thq-section-max-width">
        <div class="footer41-content">
          <div class="footer41-logo1">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CreditMetric Logo"
              class="navbar8-image1" />
          </div>
          <div class="footer41-links">
            <a href="{{ url_for('home') }}" class="thq-body-small">
              <fragment class="home-fragment211">
                <span class="home-text216">Home</span>
              </fragment>
            </a>
            <a href="{{ url_for('about') }}" class="thq-body-small">
              <fragment class="home-fragment212">
                <span class="home-text217">About Us</span>
              </fragment>
            </a>
            <a href="{{ url_for('contact') }}" class="thq-body-small">
              <fragment class="home-fragment213">
                <span class="home-text218">Contact Us</span>
              </fragment>
            </a>
            <!-- <a href="{{ url_for('makepredictions') }}" class="thq-body-small">
              <fragment class="home-fragment215">
                <span class="home-text220">Analyze Risk</span>
              </fragment>
            </a> -->
            <a href="{{ url_for('legal') }}" class="thq-body-small">
              <fragment class="home-fragment214">
                <span class="home-text219">Legal</span>
              </fragment>
            </a>
            <!-- <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="thq-body-small">
              <fragment class="home-fragment215">
                <span class="home-text220">Contact Us</span>
              </fragment>
            </a> -->
          </div>
        </div>
        <div class="footer41-credits">
          <div class="thq-divider-horizontal"></div>
          <div class="footer41-row">
            <div class="footer41-container">
              <span class="thq-body-small">© 2025 RiskMetrics</span>
            </div>
            <div class="footer41-footer-links">
              <span class="footer41-text11 thq-body-small">
                <fragment class="home-fragment218">
                  <span class="home-text223">Privacy Policy</span>
                </fragment>
              </span>
              <span class="thq-body-small">
                <fragment class="home-fragment216">
                  <span class="home-text221">Terms of Service</span>
                </fragment>
              </span>
              <span class="thq-body-small">
                <fragment class="home-fragment217">
                  <span class="home-text222">Cookies Policy</span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </footer41-wrapper>
</body>
</html>
